.container-box {
    background-color: black;
    width: 500px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.name {
    color: white;
    font-size: 20px;
    text-align: center;
}
.inputsuhu {
    color: white;
    font-size: 15px;
    text-align: center;
}

.fa {
    background-color: lightseagreen;
    width: auto;
}
.ce {
    background-color: green;
}
.ke {
    background-color: red;
}